doctype html
head
    title Crowdsourcing
    link(rel="stylesheet", href="/css/common.css", type="text/css")

body
    include ../partials/header.pug
    each anime in animes
        a(href="/link?anime=" + anime) #{anime}
        br